<% include partials/header_main %>

<h1>Login Page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placehoder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit!</button>
</form>

<li>
    <a href="/register">Sign Up!</a>
    </li>
    <li>
    <a href="/login">login</a>
    </li>
    <li>
    <a href="/logout">logout</a>
</li>