<% include partials/header_main %>


<div class="container" style="margin-top: 100px">
    <div class="row">
        <h2>Man that was some party. On a scale from 1-100 how hungover do you feel?</h2>
        <h4>If any data entered in any future form is invalid, it will be assigned a random value</h4>
        <div class="button-container">
        <form action="/step1" method="POST">
            <div class="form-group">
                <!--TODO Validate info-->
                <input class="form-control" type="text" name = "gravity" placeholder="Pain">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block">Submit this info</button>
            </div>
        </form>
        </div>
    </div>
    <div class="row">
            <hr>
 		    <h3>We will never ask for personally identifying information, ever</h3>
            <h4><a href="/">Bail outta here</a></h4>
    </div>
</div>

<!-----user path start ---->

<div class="container">
            <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-3 bs-wizard-step active">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="/step1" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Tell us a little about your night</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="/step2" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"></div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="/step3" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"></div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="/resultspage" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"></div>
                </div>
            </div>
        
        
        
        
        
	</div>
</div>

<% include partials/footer %>